body {
    font-family: calibri, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    text-align: justify;
    max-width: 600px;
    margin: 0 auto; /* Center the paragraph */
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}
